{% extends "base/base.html" %}
{% load static %}

{% block contenido %}
	<div class="card mb-3">
	  	<div class="row g-0">
		    
		    <div class="col-md-7">
		      	<div class="card-body">
                    

                    <p class="card-text">{{post.nombre}}</p>
			        <p class="card-text"><small class="text-muted"><span class="badge bg-primary">{{post.autor}}</span></small></p>
                    <p class="card-text"><small class="text-muted"><span class="badge bg-primary">Categoria: {{post.categoria}}</span></small></p>

                    <p class="card-text">{{post.detalle}}.</p>
                    <div class="row">
                        <div class="col">
                            {% for p in post.comentarios.all %}
                                <p class="card-text">{{p.autor}}.</p>
                                <p class="card-text">{{p.detalle}}.</p>
                                <p class="card-text">{{p.estado}}.</p>
                            
                            {% empty %}
                                Aun no hay comentarios
                            {% endfor %}
                            <p class="card-text">agregar comentario  </p>
                        </div>
                        
                     </div>

                  

		      	</div>
		    </div>

		  
	  	</div>
	</div>
{% endblock contenido %}