{% extends "base/base.html" %}
{% load static %}

{% block contenido %}
	<div class="card mb-3">
	  	<div class="row g-0">
		    
		    <div class="col-md-7">
		      	<div class="card-body">
                    

                    <p class="card-text">{{post.nombre}}</p>
			        <p class="card-text"><small class="text-muted"><span class="badge bg-primary">{{post.autor}}</span></small></p>
                    <p class="card-text"><small class="text-muted"><span class="badge bg-primary">Categoria: {{post.categoria}}</span></small></p>
                    
                    <p class="card-text">{{post.detalle}}.</p>
                    <div class="row">
                        <div class="col">
                            {% include "includes/prueba.html" %}
                            <a class="btn btn-sm btn-outline-secondary" href="{% url 'post:vercomentarios' post.id %}">Ver Comentario</a>
							<a class="btn btn-sm btn-outline-secondary" href="{% url 'post:comentarios' post.id %}">Agregar Comentario</a>
                        </div>
                        
                     </div>

                  

		      	</div>
		    </div>

		  
	  	</div>
	</div>
{% endblock contenido %}