{% extends "base/base.html" %}

{% block contenido %}





	<div class="container-fluid pb-3">
		{% for p in post %}
		<div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
			<div class="bg-light border rounded-3">
				<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

				<br><br><br><br>
			</div>
			<div class="bg-light border rounded-3">
				<div class="card-body">
					<p class="card-text">{{p.nombre}}</p><p class="card-text">{{p.categoria}}</p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
							<!--<button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
							<a class="btn btn-sm btn-outline-secondary" href="{% url 'post:detalle' p.id %}">Ver mas</a>
						</div>
						<!--<small class="text-muted">9 mins</small>-->
					</div>
				</div>
				<br><br>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock contenido %}